* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
ul {
  list-style: none;
}
img {
  width: 150px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 5px;
  width: 95vw;
  border: 2px solid red;
}

.Nav {
  border: 2px solid orange;
  align-self: center;
}

.Content {
  display: flex;
  border: 2px solid blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.Content h3 {
  font-size: small;
}
.ReviewCard {
  border-radius: 10%;
  border: 2px solid green;
  padding: 5px;
  margin: 2px;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min-content;
}

#reviewList {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
}

.SingleReview {
  margin: 10px;
  padding: 5px;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}
.SingleReviewList {
  font-style: oblique;
}

#ReviewBody {
  text-align: left;
}
.CommentCard {
  border-radius: 10%;
  border: 2px solid green;
  padding: 10px;
  display: flex;
  row-gap: 0.2rem;
  flex-direction: column;
  font-size: smaller;
}

#CommentHeader {
  flex: 25%;
  display: flex;
  font-size: 0.7rem;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 2px;
}
#CommentHeader p {
  font-size: smaller;
}
#CommentBody {
  flex: 50%;
  font-size: 1rem;
  padding: 2px;
}

.UserPlaqueContainer {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;

  border: 1px solid grey;
}
#UserPlaqueImg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid green;
}
#UserListImg {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
}
.ReviewFormContainer {
  border: 2px solid green;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.SortFormContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sortSection {
  padding: 5px;
}
.PostButton {
  border: 2px solid green;
  padding: 5px;
}
.ErroredComponent {
  border: 3px solid red;
}
.CategoryListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CategoryCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}
.VoteRadio {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 5px;
}
.toggleactiveUp {
  color: green;
  border: 2px solid green;
}
.toggleactiveNeut {
  color: black;
  border: 2px solid black;
}
.toggleactiveDown {
  color: orangered;
  border: 2px solid orangered;
}
.Paginate {
  display: flex;
  flex-direction: row;
}
#userList {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
}
.ActiveUser {
  border: 2px solid #27ae60;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}
.UserNormal {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(255, 123, 0);
}

@media (min-width: 700px) {
  .CommentCard,
  #CommentBody {
    font-size: large;
    padding: 10px;
  }
}
