* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  list-style: none;
}
img {
  width: 150px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  border: 2px solid red;
  align-self: center;
}

.Nav {
  border: 2px solid orange;
  align-self: center;
}

.Content {
  display: flex;
  border: 2px solid blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.Content h3 {
  font-size: small;
}
.ReviewCard {
  border: 2px solid green;
  padding: 5px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min-content;
}

#reviewList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.SingleReview {
  margin: 10px;
  padding: 5px;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}
.SingleReviewList {
  font-style: oblique;
}

#ReviewBody {
  text-align: left;
}
.CommentCard {
  border: 2px solid green;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

#CommentHeader {
  flex: 25%;
  display: flex;

  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 2px;
}
#CommentHeader p {
  font-size: smaller;
}
#CommentBody {
  flex: 50%;
  font-size: smaller;
  padding: 2px;
}
#VotingButtonBar {
  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}
#VotingButtonBar button {
  padding: 2px;
  margin: 2px;
}
@media (min-width: 700px) {
  .CommentCard,
  #CommentBody {
    font-size: large;
    padding: 10px;
  }
}
