* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  list-style: none;
}
img {
  width: 150px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  grid-area: header;
  border: 2px solid red;
  align-self: center;
}

.Nav {
  grid-area: nav;
  border: 2px solid orange;
  align-self: center;
}

.Content {
  display: flex;
  border: 2px solid blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ReviewCard {
  border: 2px solid green;
  padding: 5px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min-content;
}

#reviewList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
